@model List<Product>
@{
    ViewBag.Title = "ProductTable";
}

<div id="tableContainer">
    <div>
        <form method="post" action="ProductTable">
            <input id="searchTxt" name="Search" />
            <button type="button" id="searchBtn">Search</button>
            <button id="newBtn">New</button>
        </form>
    </div>


    <table>
        <thead>
            <tr>
                <td>Product Name</td>
                <td>Category</td>
                <td>Price</td>
                <td>Actions</td>
            </tr>
        </thead>
        <tbody>
            @foreach (var product in @Model)
            {
                <tr>
                    <td>@product.Name</td>
                    <td>-</td>
                    <td>@product.Price</td>
                    <td>
                        <button>Edit</button>
                        <button>Delete</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<script>
    $("#searchBtn").click(function () {
        var searchValue = $("#searchTxt").val();

        $.ajax({
            url: 'ProductTable',
            data: {
                search: searchValue
            }
        })
            .done(function (response) {
                $("#tableContainer").html(response);
            })
            .fail(function (XMLHttpRequest, textStatus, errorThrown) {
                alert("AJAX FAILED");
            });
    });

</script>
